App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#main {
  display: flex;
  justify-content: center;
}
.form_container {
  background-color: #10131f4f;
  padding: 20px;
  border-radius: 5px;
  margin: 60px 0;
}

.d-flex {
  display: flex;
  justify-content: space-around;
}
#form {
  width: 60%;
}
.title {
  text-align: center;
}
body {
  background: linear-gradient(to right, #2e3192, #1bffff);
  color: white;
}

label {
  display: flex;
  margin-bottom: 4px;
  font-size: 16px;
  align-items: center;
}
.required {
  /* color: red; */
}
p {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 18px;
}
.form-group {
  padding: 10px;
}

.form-control {
  width: 100%;
  height: 32px;
  padding: 16px 10px;
  border: 1px solid white;
  background-color: white;
  outline: none;
}

* {
  box-sizing: border-box;
}

[type='radio'],
[type='checkbox'] {
  margin-right: 10px;
  min-height: 20px;
  min-width: 16px;
}
textarea {
  min-height: 90px;
  width: 100%;
  resize: vertical;
}

.submit {
  width: 40%;
  background: #b1daf9;
  border: none;
  border-radius: 2px;
  padding: 12px;
  font-size: 16px;
  color: #0b0b5f;
  float: right;
  height: 40px;
  cursor: pointer;
}
.submit:hover {
  background-color: #0b0b5f;
  color: #1bffff;
}
.isUser {
  padding-left: 10px;
}
.signin {
  text-decoration: underline;
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}
#description {
  text-align: center;
  margin-bottom: 20px;
}
.logo_container {
  background-color: white;
  height: 100px;
  color: black;
  border: 1px solid;
  border-radius: 5px;
  font-family: cursive;
  padding: 100px;
  /* text-align: center; */
  /* vertical-align: middle; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
#survey-form {
  width: 45%;
}
.forgetPassword {
  margin-left: 2px;
  font-size: small;
  margin-top: 3px;
}
.forgetPassword:hover {
  margin-left: 2px;
  text-decoration: underline;
  cursor: pointer;
}
